<div id="image" class="container-fluid">
    
    <br>
    
    <h3 style="text-align: center;">Remember the shown letters</h3>
    <p style="color: green;font-size: 20px;text-align: center;">(Total 10 seconds)</p>
    <br>
    <div style="color: red; font-size: 20px; text-align: center;"id="countdown"></div>
    
  
  
  
    <br><br>
    <div class="row">
      <div class="col-sm">
        </div>
        <div class="col-sm">
          <table style="width: 100%;">
            <tr>
              <td>J</td>
              <td>A</td>
              <td>C</td>
              <td>K</td>
            </tr>
            <tr>
              <td>R</td>
              <td>U</td>
              <td>B</td>
              <td>Y</td>
            </tr>
            <tr>
              <td>L</td>
              <td>E</td>
              <td>V</td>
              <td>I</td>
            </tr>
          </table>
        </div>
        <div class="col-sm"></div>
    
    
    
  

</div>

