<div id="image">
<div class="jk" id="home1">
 
  <button id="let" routerLink="/front" class="btn">
          
          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          
           START
           
           </p>
         
   </button>

   <button id="third" routerLink="/row" class="btn">
          
          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          
           Remember Row Wise
           
           </p>
         
   </button>

   <button id="first" routerLink="#" class="btn">
        <h1 style="text-align:left">INSTRUCTIONS</h1>
        <h3 style="text-align:left">A matrix of letters will be shown</h3>
         <h3 style="text-align:left">You have 10 seconds to remember</h3>
          <h3 style="text-align:left">After completion of 10 seconds, you will be redirected to another page</h3>
           <h3 style="text-align:left">Recollect and insert the letters </h3>
            <h3 style="text-align:left">Get your result</h3>

   </button>
<button routerLink="/front"><img id="second" src = "scholar.jpg"/></button>

</div>
</div>

<div style="color:black;width:100%;height:30px;background-color:black">
</div>


